{% extends 'principal_URLs/principal_temp.html' %}

{% block title %}
Principal | Class Teacher
{% endblock title %}

{% block mainbody %}

<style>
  .table-black {
    border: 1px solid black;
  }
</style>

<section class="form-02-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="_lk_de">
          <div class="form-04-main">
            <div class="logo">
              <img src="/static/images/public_images/user.png">
            </div>

            <h1 class="text-center">Class Teachers</h1>
            <br><br>

            <div class="form-group">
              <table class="table table-bordered table-black container">
                <tbody>
                  <tr>
                    <th colspan="2" style="width: 20%;">Class</th>
                    <th colspan="2" style="width: 30%;">Teacher Name</th>
                    <th colspan="2" style="width: 50%;">Teacher Email</th>
                  </tr>
                  {% for teacher in class_teachers %}
                  <tr>
                    <td colspan="2" style="width: 20%;">{{ teacher[0] }}</td>
                    <td colspan="2" style="width: 30%;">{{ teacher[1] }}</td>
                    <td colspan="2" style="width: 50%;">{{ teacher[2] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>


{% endblock mainbody %}