{% extends 'principal_URLs/principal_temp.html' %}


{% block title %}
Principal | Delete Notification
{% endblock title %}

{% block mainbody %}

<section class="form-02-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="_lk_de">
                    <div class="form-04-main">
                        <div class="logo">
                            <img src="/static/images/public_images/user.png">
                        </div>

                        <h1 class="text-center"> Delete Notifications</h1>
                        <br><br>
                        <div class="form-group">
                            <!-- <input type="email" name="email_login" class="form-control _ge_de_ol" type="text" placeholder="Enter Email" required="" aria-required="true"> -->
                            <!-- <div class="col-md-12">
                                <div class="card mb-3"> -->
                            <div class="card-body">
                                {% for item in notification_data %}
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="row">
                                            <div class="col-7">
                                                <h6 class="mb-0 text-secondary">Title</h6>
                                                <h6>{{ item[1] }}</h6>
                                            </div>
                                            <div class="col-5">
                                                <h6 class="mb-0 text-secondary">Date</h6>
                                                <h5>{{ item[2] }}</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-1">
                                        <h6 class="mb-0 text-secondary">Document</h6>
                                        <div class="col-sm-4 text-secondary">
                                            {% if item[4] == None or item[4] == "" %}
                                            <a href="#"> No_File</a>
                                            {% endif %}
                                            {% if item[4] != None and item[4] != "" %}
                                            <a href="/static/{{item[4]}} " download>Download</a>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-5">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <h6 class="mb-0">Details</h6>
                                            </div>
                                            <div class="col-sm-10 text-secondary">
                                                {{item[3]}}
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="col-12 col-sm-2">
                                        <br class="d-sm-none">
                                        <form action="{{ url_for('delete_nofitication_principal' ) }} " method="post">
                                            <input type="hidden" name="delete_notification" value="{{ item }}">
                                            <div class="col-12">
                                                <button type="submit" class="_btn_04">Delete</button>
                                            </div>
                                            <br>
                                        </form>
                                    </div>

                                    
                                    <div class="col-12 col-sm-5">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h6 class="mb-0">Notification For</h6>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                                {% if item[0] == 'student_notification' %}
                                                    <h6>Just For Students</h6>
                                                {% endif %}

                                                {% if item[0]== 'teacher_notification' %}
                                                    <h6>Just For Teachers</h6>
                                                {% endif %}

                                                
                                            </div>
                                        </div>
                                    </div>


                                    <br>
                                    <hr>
                                </div>
                                {% endfor %}


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
{% endblock mainbody %}