{% extends 'principal_URLs/principal_temp.html' %}


{% block title %}
Principal | HOME
{% endblock title %}

{% block mainbody %}

<section class="form-02-main">
    <br>
    
    <div class="container">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message, category in messages %}
            {% if category == 'principal_periods' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'principal_notification' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'principal_login' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'delete_notification_principal' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'no_period_assigned_by_principal' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'no_class_teacher' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'no_notifitaion_to_deleate_for_principal' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% endif %} 
        {% endfor %}
    {% endif %}
{% endwith %}


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>    
</div>
</section>

{% endblock mainbody %}