{% extends 'principal_URLs/principal_temp.html' %}

{% block title %}
Principal | Teacher Periods
{% endblock title %}

{% block mainbody %}

<style>
  .table-black {
    border: 1px solid black;
  }
</style>

<section class="form-02-main principal-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="_lk_de">
          <div class="form-04-main">
            <div class="logo">
              <img src="/static/images/public_images/user.png">
            </div>

            <h1 class="text-center">Teacher Periods</h1>
            <br><br>

            <div class="form-group">

              {% for class_data in teacher_period_data_grouped %}
              <table class="table table-bordered table-black container">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" colspan="3" style="text-align: center;">{{ class_data[0][0] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th style="width: 50%;">Subject</th>
                    <th colspan="2" style="width: 50%;">Teacher Name</th>
                  </tr>
                  {% for period in class_data %}
                  <tr>
                    <td style="width: 50%;">{{ period[2] }}</td>
                    <td colspan="2" style="width: 50%;">{{ period[1] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <br><br>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock mainbody %}