{% extends 'teacher_URLs/teacher_temp.html' %}


{% block title %}
Teacher | Delete Notification
{% endblock title %}

{% block mainbody %}


<h1> This is teacher delete notification page</h1>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">

            <div class="col-md-12">
                <div class="card mb-3">
                    {% for item in notification_data %}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Title</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                {{item[0]}}
                            </div>

                            <div class="col-sm-3">
                                <h6 class="mb-0">Class</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                {{item[2]}}
                            </div>


                        </div>
                            <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date </h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                {{item[1]}}
                            </div>


                            <div class="col-sm-3">
                                <h6 class="mb-0">Notification Documber </h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                {% if item[4] == None or item[4] == "" %}
                                <a href="#"> No Download File Attached</a>
                                {% endif %}
                                
                                {% if item[4] != None and item[4] != "" %}
                                <a href="/static/{{item[4]}} " download>Download File</a>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Details</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                                {{item[3]}}
                            </div>
                        </div>
                        <br>
                        <form action="{{ url_for('delete_notification_teacher' ) }} " method="post">
                            <input type="hidden" name="delete_notification" value= "{{ item }}">

                            <input name="email_login" style="display: none;" value="{{data['email_login']}}" class="form-control" id="email_login"
                            aria-describedby="email_login" type="text">
                            <button type="submit">Delete</button>
                        </form>
                        <br>
                        <hr>
                        <hr>
                        <br>
                    </div>


                    {% endfor %}
                </div>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto cupiditate corporis perferendis minus
                    eum obcaecati velit veritatis, aliquam iste vel est earum consequuntur odio tenetur dolore. Sapiente
                    vitae voluptate omnis.</p>
                {% endblock mainbody %}