{% extends 'teacher_URLs/teacher_temp.html' %}


{% block title %}
Teacher | Delete Dairy
{% endblock title %}

{% block mainbody %}

{% if dariy_data == [] %}
    <h1>You will not upload any dairy... Kindly send the dariy !!!</h1>
{% endif %}

<section class="form-02-main teacher-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="_lk_de">

                    <div class="form-04-main">
                        <div class="logo">
                            <img src="/static/images/public_images/user.png">
                        </div>
                        <h1 class="text-center">Delete Dairy</h1>

                        <div class="form-group">
                            <div class="card-body">
                                {% for item in dariy_data %}
                                {% if item[6] != None %}
                                <div class="row">
                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Teacher</h6>
                                        <h5>{{ item[0] }}</h5>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Class</h6>
                                        <h5>{{ item[1] }}</h5>
                                        <br>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Subject</h6>
                                        <h5>{{ item[2] }}</h5>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Book Name</h6>
                                        <h5>{{ item[3] }}</h5>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Chapter Name</h6>
                                        <h5>{{ item[4] }}</h5>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Book Page</h6>
                                        <h5>{{ item[5] }}</h5>
                                        <br>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Date</h6>
                                        <h5>{{ item[6] }}</h5>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Notes</h6>
                                        <h5>
                                            {% if item[8] == None or item[8] == "" %}
                                            <a href="#">No File</a>
                                            {% endif %}
                                            {% if item[8] != None and item[8] != "" %}
                                            <a href="/static/{{item[8]}}" download>Download</a>
                                            {% endif %}
                                        </h5>
                                    </div>

                                    <div class="col-6 col-md-4">
                                        <h6 class="mb-0 text-secondary">Video Link</h6>
                                        <a href="{{item[7]}}"><h5 class="col-sm-10">Click Me</h5></a>
                                        <br>
                                    </div>

                                    <div class="d-flex justify-content-center ">
                                        <div class="col-8 border border-black border-2 text-center ">
                                            <h6 class="mb-0 text-secondary">Dairy Details</h6>
                                            <h5 class="">{{ item[9] }}</h5>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-center">
                                    <div class="col-8 ">
                                    <form action="{{ url_for('delete_dairy' ) }} " method="post">
                                        <input type="hidden" name="delete_information"   value= "{{ item }}">
                                        <br>
                                        <button type="submit" class="_btn_04">Delete</button>
                                    </form>
                                </div>
                                </div>
                                    <br><br>
                                    <hr>
                                    <hr>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock mainbody %}