{% extends 'teacher_URLs/teacher_temp.html' %}


{% block title %}
Teacher | Delete Dairy
{% endblock title %}

{% block mainbody %}



<h1> This is Teacher delete dariy pagesss</h1>


{% if dariy_data == [] %}
    <h1>You will not upload any dairy... Kindly send the dariy !!!</h1>
{% endif %}


<div class="container">
    
    {% for item in dariy_data %}  

    <div class="main-body">
        <div class="row gutters-sm">
            <h4 class="text-secondary mb-1">You Dairy [Date : {{item[6]}}]</h4>
    
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Teacher</h6>
                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {{item[0]}}
                                </div>
    
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Class</h6>
                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {{item[1]}}
                                </div>
                                <!-- <hr> -->
                                <!-- <div class="row"> -->
                                    <div class="col-sm-2">
                                        <h6 class="mb-0">Subject</h6>
                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {{item[2]}}
                                </div>
                                <!-- </div> -->
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Book Name</h6>
                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {{item[3]}}
                                </div>
                                <!-- </div>
                                    <hr>
                                    <div class="row"> -->
                                        <div class="col-sm-2">
                                            <h6 class="mb-0">Chapter Name</h6>
                                        </div>
                                        <div class="col-sm-2 text-secondary">
                                            {{item[4]}}
                                        </div>
                                        <!-- </div>
                                            <hr>
                                            <div class="row"> -->
                                                <div class="col-sm-2">
                                                    <h6 class="mb-0">Book Page #</h6>
                                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {{item[5]}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Date</h6>
                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {{item[6]}}
                                </div>
                                <!-- </div>
                                    <hr>
                                    <div class="row"> -->
                                        <div class="col-sm-2">
                                            <h6 class="mb-0">Video Link</h6>
                                        </div>
                                        <div class="col-sm-2 text-secondary">
                                            <a href="">{{item[7]}}</a>
                                </div>
                                <!-- </div> -->
                                <!-- <hr>
                                    <div class="row"> -->
                                        <div class="col-sm-2">
                                            <h6 class="mb-0">Notes</h6>
                                        </div>
                                        <div class="col-sm-2 text-secondary">
                                            {% if item[8] == None %}
                                            <a href="#" > No Download File Attached</a>
                                            {% endif  %}
                                            {% if item[8] != None %}
                                            <a href="/static/{{item[8]}}" download>Download File</a>
                                            {% endif  %}
                                        </div>
                                    </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Dairy Details</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    {{item[9]}} 
                                </div>
                            </div>
                            <hr>
                            <div class="row">


                                <form action="{{ url_for('delete_dairy' ) }} " method="post">
                                    <input type="hidden" name="delete_information" value= "{{ item }}">
                                    <button type="submit">Delete</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                
                
                
        </div>
    </div>
        {% endfor %}
    </div>
    
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto cupiditate corporis perferendis minus eum obcaecati velit veritatis, aliquam iste vel est earum consequuntur odio tenetur dolore. Sapiente vitae voluptate omnis.</p>
{% endblock mainbody %}