{% extends 'teacher_URLs/teacher_temp.html' %}


{% block title %}
Teacher | Send Notification
{% endblock title %}

{% block mainbody %}



<section class="form-02-main teacher-page">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="_lk_de">
          <div class="form-03-main">
            <div class="logo">
              <img src="/static/images/public_images/user.png">
            </div>

            <h1 class="text-center">Student Notification</h1>
            <br><br>
            <div class="form-group">
                <form action="{{ url_for('send_notification_to_student') }}" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                      <!-- <input type="email" name="email_login" class="form-control _ge_de_ol" type="text" placeholder="Enter Email" required="" aria-required="true"> -->
                      <label for="details" class="form-label">Notification Title</label>
                      <input name="titles" value="" type="text" class="form-control _ge_de_ol" id="titles" placeholder="Title of Notification"
                      aria-describedby="titles">
                    </div>
          
                    <div class="form-group">
                      <!-- <input type="password" name="password_login" class="form-control _ge_de_ol" type="text" placeholder="Enter Password" required="" aria-required="true"> -->
                      <label for="date" class="form-label">Date</label>
                      <input name="date" value="" class="form-control  _ge_de_ol" id="date"
                          aria-describedby="date" type="date">
                    </div>
          
                    <div class="form-group">
                      <!-- <input type="password" name="password_login" class="form-control _ge_de_ol" type="text" placeholder="Enter Password" required="" aria-required="true"> -->
                      <label  class="form-label">Notification Document</label>
                      <input name="notification_document" class="form-control  _ge_de_ol" placeholder="Notification Document" type="file">
                    </div>
          
          
                    <div class="form-group">
                      <!-- <input type="password" name="password" class="form-control _ge_de_ol" type="text" placeholder="Enter Password" required="" aria-required="true"> -->
                      <label for="details" class="form-label">Write the details of Notification</label>
                      <!-- <input name="details"  type="text" class="form-control" id="details"
                          aria-describedby="details" > -->
                      <textarea name="details" type="text" class="form-control  _ge_de_ol" id="details"
                          aria-describedby="details" placeholder="Type some thing" rows="4" cols="50"></textarea>
          
                    </div>

                    <input name="teacher_class" style="display: none;" value="{{teacher_class[0][0]}}" class="form-control" id="teacher_class"
                    aria-describedby="teacher_class" type="text">
            
                    <input name="email_login" style="display: none;" value="{{data['email_login']}}" class="form-control" id="email_login"
                    aria-describedby="email_login" type="text">
                    
          
          
                    <div class="form-group">
                        <button type="submit" class="_btn_04">Submit</button>
                    </div>
                </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock mainbody %}