{% extends 'teacher_URLs/teacher_temp.html' %}


{% block title %}
Teacher | HOME
{% endblock title %}

{% block mainbody %}


<section class="form-02-main">
    <br>
    
    <div class="container">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message, category in messages %}
            {% if category == 'student_dairy_done' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'sudent_attandance_done' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'class_student_notification_done' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
                {% elif category == 'result_uploaded' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading text-center">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h4>
                    </div>
                {% elif category == 'result_will_not_uploaded' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <h4 class="alert-heading text-center">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h4>
                    </div>
            {% elif category == 'teacher_login' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading text-center">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>
            {% elif category == 'delete_student_dariy' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            {% elif category == 'no_student_in_teacher_attandance' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'no_notification_send_by_teacher_to_student' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'no_student_for_upload_result' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'delete_notification_principal' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'delete_notification_teacher' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'no_notification_for_teacher' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'not_a_class_teacher_of_send_notification' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'teacher_delete_dairy' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
            {% elif category == 'teacher_not_appload_dairy' %}
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                <h4 class="alert-heading text-center">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </h4>
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>    
</div>
</section>

</div>
{% endblock mainbody %}