{% extends 'teacher_URLs/teacher_temp.html' %}


{% block title %}
Teacher | Write Dairy
{% endblock title %}

{% block mainbody %}


<section class="form-02-main teacher-page">
    <div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="_lk_de">
            <div class="form-04-main">
                <div class="logo">
                    <img src="/static/images/public_images/user.png">
                </div>


                <h1 class="text-center">Fill Dairy For {{data['teacher_class']}} Subject {{data['teacher_period']}}</h1>
                <br><br>

    <form action="{{ url_for('upload_dairy_form') }}" method="post"  enctype="multipart/form-data">
        <!-- Bood name -->
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="book_name" class="form-label">Enter the Book Name</label>
                    <input name="book_name" type="text" class="form-control" id="book_name"
                        aria-describedby="book_name" maxlength="50" minlength="5">


                </div>
                </div>
            <!-- </div> -->

            <!-- chapter name -->
             <div class="col-md-4">
                <div class="mb-3">
                    <label for="chapter_name" class="form-label">Enter the Chapter Name</label>
                    <input name="chapter_name" type="text" class="form-control" id="chapter_name"
                        aria-describedby="chapter_name" maxlength="35" minlength="3">


                </div>
            </div>

            <!-- Book page no -->
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="book_page" class="form-label">Enter the Book Page NO</label>
                    <input name="book_page" type="text" class="form-control" id="book_page"
                        aria-describedby="book_page" maxlength="10" minlength="1">
                </div>
            </div>
        </div>

        <!-- <hr> -->

        <div class="row">

            <!-- Dairy Date -->
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="dairy_date" class="form-label">Enter the dairy date</label>
                    <input name="dairy_date" type="date" class="form-control" id="dairy_date"
                        aria-describedby="dairy_date" required>
                </div>
            </div>

            <!-- Video link -->

            <div class="col-md-4">
                <div class="mb-3">
                    <label for="video_link" class="form-label">Enter Video link</label>
                    <input name="video_link" type="text" class="form-control" id="video_link"
                        aria-describedby="video_link">
                </div>
            </div>

            <!-- Helping Notes -->
            <div class="col-md-4">
                <div class="mb-3">
                    <label  class="form-label">Helping Notes</label>
                    <input name="helping_notes_file" type="file" class="form-control" >
                </div>
            </div>
        </div>

        <hr>

        <div class="row">

            <!-- Dairy details -->
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="dairy_details" class="form-label">Enter the dairy details</label>
                    <!-- <input name="book_name"  type="text" class="form-control" id="book_name"
                        aria-describedby="book_name" > -->
                    <textarea name="dairy_details" type="text" class="form-control" id="dairy_details"
                        aria-describedby="dairy_details" placeholder="Write Some Details of Dairy" rows="4" cols="50" required></textarea>
                </div>
            </div>
        </div>
        <br>

        <!-- this is for class and period maching Its could not display in html page -->
        <input style="display: none;" name="period_name" value="{{data['teacher_period']}}" type="text" class="form-control" id="period_name"
        aria-describedby="period_name">
        
        <input style="display: none;" name="class_name" value="{{data['teacher_class']}}" type="text" class="form-control" id="class_name"
        aria-describedby="class_name">

        <input style="display: none;" name="teacher_mail" value="{{data['teacher_mail']}}" type="text" class="form-control" id="teacher_mail"
        aria-describedby="teacher_mail">
        
        <button type="submit" class="_btn_04">Submit</button>

        <br>
        <br><br>
        
    </form>

</div>
</div>
</div>
</div>
</div>
</section>

{% endblock mainbody %}