{% extends 'student_URLs/student_temp.html' %}


{% block title %}
Student | Notification
{% endblock title %}

{% block mainbody %}



<h1> This is student Notification Page</h1>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">

            <div class="col-md-12">
                <div class="card mb-3">
                    {% for item in notification %}
                        
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-sm-1">
                                <h6 class="mb-0">Title</h6>
                            </div>
                            <div class="col-sm-3 text-secondary">
                                {{item[0]}}
                            </div>
                            <!-- </div>
                                <hr>
                            <div class="row"> -->
                                
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Notification Documber </h6>
                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {% if item[4] == None %}
                                    <a href="#" > No Download File Attached</a>
                                    {% endif  %}
                                    {% if item[4] != None %}
                                    <a href="/static/{{item[4]}} " download>Download File</a>
                                    {% endif  %}
                                </div>
                                
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Date </h6>
                                </div>
                                <div class="col-sm-2 text-secondary">
                                    {{item[1]}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Details</h6>
                            </div>
                            <div class="col-sm-10 text-secondary">
                                {{item[3]}}
                            </div>
                        </div>
                        <br>
                        <hr>
                        <hr>
                        <br>
                    </div>
                    {% endfor %}
                </div>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto cupiditate corporis perferendis minus eum obcaecati velit veritatis, aliquam iste vel est earum consequuntur odio tenetur dolore. Sapiente vitae voluptate omnis.</p>
{% endblock mainbody %}