{% extends 'student_URLs/student_temp.html' %}


{% block title %}
Student | Dairy
{% endblock title %}

{% block mainbody %}


<div class="container">
    <div class="main-body">
        <!-- <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <h4 class="text-secondary mb-1">You Dairy</h4>
                        <br><br>
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                        width="150">
                        <div class="mt-3">
                            <h4>{{data[0][0]}}</h4>
                             <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
        <!-- </div>
                    </div>
                </div>
            </div>
        </div>  -->

        <div class="row gutters-sm">
            <h4 class="text-secondary mb-1">You Dairy [Date : {{data[0][6]}}]</h4>

            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Teacher</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][0]}}
                            </div>

                            <div class="col-sm-2">
                                <h6 class="mb-0">Class</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][1]}}
                            </div>
                            <!-- <hr> -->
                            <!-- <div class="row"> -->
                            <div class="col-sm-2">
                                <h6 class="mb-0">Subject</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][2]}}
                            </div>
                            <!-- </div> -->
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Book Name</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][3]}}
                            </div>
                            <!-- </div>
                        <hr>
                        <div class="row"> -->
                            <div class="col-sm-2">
                                <h6 class="mb-0">Chapter Name</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][4]}}
                            </div>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2">
                                <h6 class="mb-0">Book Page #</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][5]}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Date</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][6]}}
                            </div>
                            <!-- </div>
                            <hr>
                            <div class="row"> -->
                            <div class="col-sm-2">
                                <h6 class="mb-0">Video Link</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                <a href="">{{data[0][7]}}</a>
                            </div>
                            <!-- </div> -->
                            <!-- <hr>
                        <div class="row"> -->
                            <div class="col-sm-2">
                                <h6 class="mb-0">Notes</h6>
                            </div>
                            <div class="col-sm-2 text-secondary">
                                {{data[0][8]}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0">Dairy Details</h6>
                            </div>
                            <div class="col-sm-10 text-secondary">
                                {{data[0][9]}} 
                            </div>
                        </div>
                        <!-- <hr> -->
                        <!-- <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info " target="__blank"
                                        href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>







        </div>
    </div>
</div>


<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto cupiditate corporis perferendis minus eum obcaecati
    velit veritatis, aliquam iste vel est earum consequuntur odio tenetur dolore. Sapiente vitae voluptate omnis.</p>
{% endblock mainbody %}