{% extends 'teacher_admin_URLs/teacher_admin_temp.html' %}


{% block title %}
Teacher Admin | Notifications
{% endblock title %}

{% block mainbody %}

<div class=" container big-font">
    <form action="{{ url_for('teacher_notification') }}" method="post" enctype="multipart/form-data">
        <br>
        <h1 style="text-align: center;">Send Notifications to teachers</h1>
        <br>


        <!-- titles -->
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="titles" class="form-label">Title of Notification</label>
                    <input name="titles" value="" type="text" class="form-control" id="titles"
                        aria-describedby="titles">
                </div>
            </div>


                <div class="col-md-4">
                    <div class="mb-3">
                        <label  class="form-label">Notification Document</label>
                        <input name="notification_document" class="form-control" type="file">
                    </div>
                </div>


                <!-- Form B number of teacher -->
                <div class="col-md-4">
                    <label for="date" class="form-label">Date</label>
                    <input name="date" value="" class="form-control" id="date"
                        aria-describedby="date" type="date">
                </div>

        </div>


        <!-- Father name of teacher -->

        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="details" class="form-label">Write the details of Notification</label>
                    <!-- <input name="details"  type="text" class="form-control" id="details"
                        aria-describedby="details" > -->
                    <textarea name="details" type="text" class="form-control" id="details"
                        aria-describedby="details" rows="4" cols="50">Type some thing</textarea>
                </div>
            </div>
        </div>
        
        <br>
        <input type="submit" class="btn btn-primary"></input>
        
    </div>
<br>
<br><br>
<!-- <a href="{{ url_for('forget_password') }}">Forget Password</a> -->
</form>
</div>
<br>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto cupiditate corporis perferendis minus eum obcaecati velit veritatis, aliquam iste vel est earum consequuntur odio tenetur dolore. Sapiente vitae voluptate omnis.</p>
{% endblock mainbody %}